.modal-90w {
  width: 70%;
  max-width: none !important;
}

.modal-chemEditor {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.chemEditor {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
